package migrations

import "database/sql"

func init() {
	Register({{.Version}}, Migration{
		Name: "{{.Name}}",
		Up: func(tx *sql.Tx) error {
			// TODO: implement up migration
			return nil
		},
		Down: func(tx *sql.Tx) error {
			// TODO: implement down migration
			return nil
		},
	})
}
